.App {
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

body {
  background-color: #d7fffd;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

table {
  width: 100%;
}

th {
  font-weight: bolder;
  font-size: 1.6em;
  padding: 15px 0 30px 0;
}

td {
  font-size: 1.2em;
}